# Python cache & compilati
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtuale (pip + venv)
**/.venv/
**/venv/
**/env/
**/ENV/

# Jupyter notebook checkpoint
**/.ipynb_checkpoints/
*.nbconvert.ipynb

# IDE settings
.vscode/
.idea/

# macOS
.DS_Store

# Log e backup
*.log
*~

# React (frontend)
webapp/node_modules/
webapp/dist/
webapp/dist-ssr/
webapp/logs/
webapp/*.log
webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*
webapp/pnpm-debug.log*
webapp/lerna-debug.log*
webapp/.env.local
webapp/.env.development.local
webapp/.env.test.local
webapp/.env.production.local
webapp/*.local
webapp/.vscode/*
!webapp/.vscode/extensions.json
webapp/.idea
webapp/.DS_Store
webapp/*.suo
webapp/*.ntvs*
webapp/*.njsproj
webapp/*.sln
webapp/*.sw?

# Custom
/data-lab/test-in-laib/intermediate_results/
/rebuglio.it/
/webapp/build/
